/*@font-face
{
    font-family: "myFontTest";
    src: url(../fonts/beer-money12.ttf);
}
*{
    font-family: "myFontTest";
}
p{
    font-weight: 300;
    font-size: 12pt;
    font-style: italic;
}
h1{
    font-weight: bolder;
    font-size: 50pt;
}*/
@font-face
{
 font-family: "myFontTest";
    src: url(../fonts/ofont.ru_Montserrat.ttf);
}
@font-face
{
    font-family: "Bebas Neue";
    src: url(../fonts/ofont.ru_Bebas\ Neue.ttf);
}
.menu{
    
    background-color: lightblue;
    margin: 10px;
    padding:  50px;

}
p1,p2,p3{
    
     display: inline;
     margin: 30px;
     color: brown;
     font-family: "myFontTest";
    
}
p4{
    display: inline;
     margin: 30px;
     color: red;
     font-family: "Bebas Neue";
}

